DB_HOST=database
DB_PORT=5432
DB_NAME=mentor
DB_PASSWORD=psw
DB_USERNAME=user

COURSE_SERVICE_URL=course-service:8081
MENTOR_SERVICE_URL=mentor-service:8082

CLIENT_RETRY_MAX_ATTEMPTS=3
CLIENT_RETRY_PERIOD=1000
CLIENT_RETRY_MAX_PERIOD=10000

CALENDAR_REDIRECTION_GRPC=dns:///calendar-service:1084
ADMIN_CALENDAR_GRPC_CLIENT=dns:///admin-service:1085
ADMIN_MODULE_GRPC_CLIENT=dns:///admin-service:1085
ADMIN_COURSE_GRPC_CLIENT=dns:///admin-service:1085
ADMIN_MENTOR_GRPC_CLIENT=dns:///admin-service:1085
COURSE_REDIRECTION_GRPC=dns:///course-service:1081
MODULE_GRPC_CLIENT=dns:///course-service:1081
MENTOR_REDIRECTION_GRPC=dns:///mentor-service:1082

ACCESS_API_KEY=ACCESS_SERVICE_SECRET_KEY_123
ADMIN_API_KEY=CHANGE_ME
API_GATEWAY_API_KEY=CHANGE_ME
CALENDAR_API_KEY=CHANGE_ME
COURSE_API_KEY=CHANGE_ME
MENTOR_API_KEY=CHANGE_ME
NOTIFICATION_API_KEY=NOTIFICATION_SERVICE_SECRET_KEY_123

ADMIN_NODE_ID=admin-service-1
API_GATEWAY_NODE_ID=api-gateway-1
CALENDAR_NODE_ID=calendar-service-1
COURSE_NODE_ID=course-service-1
MENTOR_NODE_ID=mentor-service-1
NOTIFICATION_NODE_ID=notification-service-1

KAFKA_HOST=kafka-1:9092
KAFKA_GROUP_ID=notification-event
SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka-1:9092

KAFKA_NODE_ID=1
KAFKA_PROCESS_ROLES=broker,controller
KAFKA_LISTENERS=PLAINTEXT://kafka-1:9092,CONTROLLER://kafka-1:9093
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka-1:9092
KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka-1:9093
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS=0
KAFKA_NUM_PARTITIONS=3

MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=avatars

POSTGRES_USER=user
POSTGRES_PASSWORD=psw
POSTGRES_DB=mentor