DB_HOST=localhost
DB_PORT=5432
DB_NAME=mentor
DB_PASSWORD=psw
DB_USERNAME=user

COURSE_SERVICE_URL=localhost:8081
MENTOR_SERVICE_URL=localhost:8082

CLIENT_RETRY_MAX_ATTEMPTS=3
CLIENT_RETRY_PERIOD=1000
CLIENT_RETRY_MAX_PERIOD=10000

CALENDAR_REDIRECTION_GRPC=dns:///localhost:1084
ADMIN_CALENDAR_GRPC_CLIENT=dns:///localhost:1085
ADMIN_MODULE_GRPC_CLIENT=dns:///localhost:1085
ADMIN_COURSE_GRPC_CLIENT=dns:///localhost:1085

ACCESS_API_KEY=ACCESS_SERVICE_SECRET_KEY_123
COURSE_API_KEY=COURSE_SERVICE_SECRET_KEY_123

COURSE_NODE_ID=course-service-1

KAFKA_HOST=localhost:9092
KAFKA_GROUP_ID=notification-event
SPRING_KAFKA_BOOTSTRAP_SERVERS=localhost:9092